@charset "utf-8";
/* CSS Document */

/*** Tags ***/
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18pt;
  color: #000;
  background-color: #FFF;
}

a {
  color: #BE1E2D;
  text-decoration: none;
}

a:hover {
  color: #DD263D;
  text-decoration: underline;
}

a:active {
  color: #FF2C46;
  text-decoration: underline;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

form {
  width: 100%;
  padding: 0;
}

/*** IDs ***/
#container {
  margin: 0px auto;
  padding: 0px;
  width: 50%;
}

#content {
  width: 100%;
}

#main-content {
  width: 100%;
  float: left;
}

#view-menu {
  width: 100%;
  height: 60px;
}

#selected-menu {
  padding: 15px;
  width: 100%;
  height: 60px;
}

#calendar {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

#details-interface {
  padding-left: 20px;
  width: 100%;
  text-align: left;
}

#selected {
  width: 100%;
  line-height: 60px;
  font-size: 36pt;
  text-align: center;
  vertical-align: middle;
  float: left;
}

/*** Classes ***/
.view-item {
  width: 33%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  float: left;
}

.list-group-item {
  padding-left: 40px;
  text-align: left;
  word-wrap: break-word;
}

.text-box {
  width: 85%;
  padding: 15px;
  float: left;
}

.btn-box {
  width: 15%;
  padding: 15px;
  text-align: center;
  float: left;
}

.kill {
  float: right;
  color: red;
}

.kill:hover {
  cursor: pointer;
}

.current {
  color: #BE1E2D;
  text-decoration: underline;
}

.inaccessible {
  color: #C7C8CA;
}

/* Clearfix solution from http://stackoverflow.com/questions/8554043/what-is-clearfix */
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*** Responsive @media queries ***/
@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .text-box {
    width: 75%;
    padding: 0 0 0 15px;
  }
  
  .btn-box {
    width: 25%;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  #calendar p {
    padding-top: 50px;
  }
}
