<div id="container">
  <div id="content" class="clearfix">
    <div id="main-content" class="clearfix">
      <!-- Displays all possible views accessible from current view. -->
      <div id="view-menu" class="clearfix">
        <div class="view-item"><a [routerLink]="['/year']">Year</a></div>
        <div class="view-item"><a [routerLink]="['/month/' + month]">Month</a></div>
      </div>

      <!-- Displays current selection (e.g. exact month, week, or date) and next/prev interface. -->
      <div id="selected-menu" class="clearfix">
        <div id="selected">Week of {{startMonth}}. {{startDate}} - {{endMonth}}. {{endDate}}</div>
      </div>

      <!-- Displays calendar info (table) for chosen selection. -->
      <div id="calendar">
        <table>
          <tr>
            <th>Su</th>
            <th>M</th>
            <th>Tu</th>
            <th>W</th>
            <th>Th</th>
            <th>F</th>
            <th>Sa</th>
          </tr>
          <tr>
            <td *ngIf="atFirstMonth" class="inaccessible">{{startDate}}</td>
            <td *ngFor="let date of weekArray" [ngClass]="{'invert-colors':hasDetails(date['index']), 'current-day':isThisDayCurrent(date['index'])}"
                [routerLink]="['/month/' + date['month'] + '/' + date['date']]"><a><span
              [ngClass]="{'white-text':hasDetails(date['index'])}">{{date["date"]}}</span></a>
            </td>
            <td *ngFor="let d of dummyWeek" class="inaccessible">{{d}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

