<div id="calendar" class="table-responsive">
  <table class="table">
    <tr>
      <td><a [routerLink]="['/month/August']">Aug</a></td>
      <td><a [routerLink]="['/month/September']">Sep</a></td>
      <td><a [routerLink]="['/month/October']">Oct</a></td>
      <td><a [routerLink]="['/month/November']">Nov</a></td>
    </tr>
    <tr>
      <td><a [routerLink]="['/month/December']">Dec</a></td>
      <td><a [routerLink]="['/month/January']">Jan</a></td>
      <td><a [routerLink]="['/month/February']">Feb</a></td>
      <td><a [routerLink]="['/month/March']">Mar</a></td>
    </tr>
    <tr>
      <td></td>
      <td><a [routerLink]="['/month/April']">Apr</a></td>
      <td><a [routerLink]="['/month/May']">May</a></td>
      <td></td>
    </tr>
  </table>
</div>
