h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .academic-heading {
    display: none;
  }
}

@media screen and (max-height: 900px) {
  .academic-heading {
    display: none;
  }
}
