h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#current-date-heading {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #BE1E2D;
}


