@charset "utf-8";
/* CSS Document */

/*** TAGS ***/
table {
	border-collapse: collapse;
}

table th {
	border-bottom: 1px solid black;
	width: 120px;
	height: 40px;
	font-size: 18pt;
	text-align: center;
	vertical-align: middle;
}

table td {
	width: 120px;
	height: 100px;
	font-family: "MS Serif", "New York", serif;
	font-size: 36pt;
	color: #C7C8CA;
	text-align: center;
	vertical-align: middle;
}

/*** IDS ***/
#calendar {
	padding-top: 40px;
}
